<div class="container">
  <label>Status: {{sStatus}} </label><br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" [attr.aria-valuenow]="iProgressValue"
         aria-valuemin="0" [attr.aria-valuemax]="iProgressMax" [ngStyle]="{'width': iProgressValue + '%'}" >
    </div>
  </div>
  <br><br>
  <div class="word">
    <h1>{{word}}</h1>
    <button type="button" class="btn btn-primary btn-click" (click)="Run()">Run</button>
    <button type="button" class="btn btn-danger btn-click" (click)="Cancel()">Cancel</button>
  </div>


</div>

