<div class="container">
  <br><br>
  <form [formGroup]="formcheckMainWord" (ngSubmit)="checkAnswerMainWord()">
    <div class="word">
      <h1 class="word-main">{{synonymWord}}</h1>
      <div class="form-group">
        <label for="mainWord"></label>
        <input type="text" class="form-control" formControlName="mainWord" placeholder="Enter Word" id="mainWord">
      </div>
      <button type="submit" (keyup.enter)="checkAnswerMainWord()" class="btn btn-primary btn-click">Check Answer</button>
      <button type="button" class="btn btn-primary btn-click" (click)="nextWord()">Next -></button>
    </div>
  </form>
  <div class="word">
    <h1 class="word-main" *ngIf="checkWord" [class.text-success]="statusCheck" [class.text-danger]="!statusCheck">{{checkWord}}</h1>
  </div>
</div>
